# .pre-commit-config.yaml
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
#  - id: no-commit-to-branch
  - id: trailing-whitespace

- repo: "https://github.com/syntaqx/git-hooks"
  rev: "v0.0.17"
  hooks:
    - id: "shfmt"
      exclude: ^bin/.*?hermit
    - id: "shellcheck"
      exclude: ^bin/activate-hermit
